GETH_API=''
POSTGRESQL_HOST=
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_CFG_MODEL=deepseek-v4-flash
DEEPSEEK_CFG_API_MODE=chat_completions
DUNE_API_KEY1=
DUNE_API_KEY2=
DUNE_API_KEY3=
QUICKNODE_RPC_URL=''
QUICKNODE_ENDPOINT_NAME=''
QUICKNODE_API_KEY=''
