GETH_API=''
POSTGRESQL_HOST=
OPENAI_API_KEY=
OPENAI_BASE_URL=https://aicanapi.com/v1
OPENAI_SEMANTIC_CFG_MODEL=gpt-5.4-nano
OPENAI_SEMANTIC_CFG_API_MODE=chat_completions
DUNE_API_KEY1=
DUNE_API_KEY2=
DUNE_API_KEY3=
DRPC_API_KEY=''